<h1>Search!</h1>

<nav class="users-search">
  <form action="index.html" method="post">
    <label for="user[username]">
      <input id="search-field" type="text" name="user[username]" value="Name">
    </label>
  </form>
  <ul class>

  </ul>
</nav>
